@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #17181a;
  --default-color: #e2e2e2;
  --tags-color: #01abf4;
  --brackets-color: #707e80;
  --comments-color: #6a9955;
  --attributes-color: #fed404;
  --strings-color: #34d59f;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 40px;
  background-color: var(--bg-color);
}

.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 80vh;
}

.editor {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  border: 1px solid #3a3a3a;
  border-radius: 0px;
  resize: none;
  overflow: auto;
  background-color: var(--bg-color);
  color: var(--default-color);
  outline: none;
  border-radius: 8px 8px 0 0;
}

.output {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #3a3a3a;
  border-top: none;
  overflow-y: auto;
  white-space: pre-wrap;
  background-color: var(--bg-color);
  color: var(--default-color);
  font-family: "Fira Code", monospace;
  border-radius: 0 0 8px 8px;
}

.highlight-tags {
  color: var(--tags-color);
}

.highlight-brackets {
  color: var(--brackets-color);
}

.highlight-comments {
  color: var(--comments-color);
}

.highlight-attributes {
  color: var(--attributes-color);
}

.highlight-strings {
  color: var(--strings-color);
}
